body {
    font-family: Arial;
    width: 400px;
    margin: 30px auto;
}

.input-box {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    padding: 8px;
}

button {
    cursor: pointer;
}